<div ng-app='ngAsana'>
  <div ng-controller='TasksCtrl'>
    <p>Showing {{tasks.length}} tasks</p>
    <div id='tasks-wrapper'>
      <div id="tasks-list">
        <ul>
          <li ng-repeat='t in tasks' ng-class='{completed: t.completed, selected: t == selectedTask}' ng-click='selectTask(t)'>
            <input type="checkbox" ng-model='t.completed' ng-change='save(t)'>
            <span class='title' ng-hide='t == selectedTask'>{{t.title}}</span>
            <input type='text' ng-model='t.title' ng-show='t == selectedTask' class='edit-title' ng-change='save(t)'>
          </li>
        </ul>
      </div>
      <div id="task-detail">
        <p>
          {{selectedTask.description}}
        </p>
        <ul>
          <li ng-repeat='c in selectedTask.comments'>
            {{c.text}}
          </li>
        </ul>
      </div>

      <div class="clear"></div>
    </div>
  </div>
</div>
