#wrapper{
  width: 800px;
  margin: 0 auto;
}

#content{
  min-height: 500px;
}

#tasks-list{
  list-style: none;
  li.completed span.title{
    text-decoration: line-through;
    color: #888;
  }
}

